<div class="header">
    <h1>About</h1>
</div>

<ul class="pics">
    <li><img src="images/img_3581.jpg"/></li>
    <li><img src="images/img_8899.jpg"/></li>
    <li><img src="images/img_8984.jpg"/></li>
</ul>

<p>My name is Allie Kelley and this is a library for my photos! I am a high school student who takes AP Computer Science
     and I built this site myself, with the help of my dad, who is a developer at Paypal.</p>

