<div class="header">
    <h1>Friends</h1>
</div>

<ul class="pics">
    <li><a href="/photos/friends/1"><img src="images/img_7203.jpg"/></a></li>
    <li><a href="/photos/friends/2"><img src="images/img_4102.jpg"/></a></li>
    <li><a href="/photos/friends/3"><img src="images/img_4100.jpg"/></a></li>
    <li><a href="/photos/friends/4"><img src="images/img_3429.jpg"/></a></li>
    <li><a href="/photos/friends/5"><img src="images/img_4105.jpg"/></a></li>
    <li><a href="/photos/friends/6"><img src="images/img_4099.jpg"/></a></li>
    <li><a href="/photos/friends/7"><img src="images/img_4101.jpg"/></a></li>
    <li><a href="/photos/friends/8"><img src="images/img_4104.jpg"/></a></li>
    <li><a href="/photos/friends/9"><img src="images/img_4086.jpg"/></a></li>

</ul>