<section class="home">
    <div class="hero">
        <h1>Welcome to Allie Soleil!</h1>
    </div>
    <ul class="banner">
        <li><img src="images/img_2999_med.jpg"/></li>
        <li class="last"><img src="images/img_3004.jpg"/></li>

        <!-- Iterating over the model -->
        {{#each pics}}
            <li {{#if @last}}class="last"{{/if}}>
                    <a href="photos/{{this.id}}"><img src="/images/{{this.img}}" /></a></li>
        {{/each}}

    </ul>
</section>

