<section class="home">
    <div class="hero">
        <h1>Welcome to Allie Soleil!</h1>
    </div>
    <ul class="banner">
        <li><img src="images/IMG_2999_med.JPG"/></li>
        <li class = "last"><img src="images/IMG_3004.JPG"/></li>
    </ul>
</section>

