<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
      <div class="navigation" id="myNavigation">
          <a href="/">Home</a>
          <a href="/traveling">Traveling</a>
          <a href="/friends">Friends</a>
          <a href="/users">Users</a>
          <a href="fun">Fun</a>
          <a href="about">About</a>
      </div>
  </nav>
  <div class="header">
    <h1>Welcome to Allie Soleil!</h1>
  </div>
  <!-- <p>This is my website where I will store my photos. Enjoy!</p> -->
    {{{body}}}
  <!--<div id="home">
      Home
  </div>-->
  </body>
</html>
