<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="page">
      <header>
          <img src="../images/logo.png" />
      </header>
      <nav>
        <div class="navigation" id="myNavigation">
            <a href="/">Home</a>
            <a href="/traveling">Traveling</a>
            <a href="/friends">Friends</a>
            <a href="about">About</a>
        </div>
    </nav>
    {{{body}}}
  </div>
  </body>
</html>
