<div class="header">
    <h1>Other</h1>
</div>

<ul class="pics">

    <li><a href="/photos/other/1"><img src="images/img_8518.jpg"/></a></li>
    <li><a href="/photos/other/2"><img src="images/img_8519.jpg"/></a></li>
    <li><a href="/photos/other/3"><img src="images/img_8520.jpg"/></a></li>
    <li><a href="/photos/other/4"><img src="images/img_8517.jpg"/></a></li>
    <!-- Wedding Flowers Pics -->

    <li><a href="/photos/other/5"><img src="images/img_3471.jpg"/></a></li>
    <li><a href="/photos/other/6"><img src="images/img_3467.jpg"/></a></li>
    <li><a href="/photos/other/7"><img src="images/img_3481.jpg"/></a></li>
    <li><a href="/photos/other/8"><img src="images/img_3447.jpg"/></a></li>
    <li><a href="/photos/other/9"><img src="images/img_3476.jpg"/></a></li>
    <li><a href="/photos/other/10"><img src="images/img_3480.jpg"/></a></li>
    <li><a href="/photos/other/11"><img src="images/img_3483.jpg"/></a></li>
    <li><a href="/photos/other/12"><img src="images/img_3449.jpg"/></a></li>

    <!-- End Wedding Flowers Pics -->

    <!-- Easter Pics -->
    <li><a href="/photos/other/13"><img src="images/img_8899.jpg"/></a></li>
    <li><a href="/photos/other/14"><img src="images/img_8889.jpg"/></a></li>
    <li><a href="/photos/other/15"><img src="images/img_8883.jpg"/></a></li>
    <!-- End Easter Pics -->

    <li><a href="/photos/other/16"><img src="images/img_4089.jpg"/></a></li>
    <li><a href="/photos/other/17"></a></li>

</ul>