<div class="header">
    <h1>Other</h1>
</div>

<ul class="pics">

    <li><img src="images/img_8518.jpg"/></li>
    <li><img src="images/img_8519.jpg"/></li>
    <li><img src="images/img_8520.jpg"/></li>
    <li><img src="images/img_8517.jpg"/></li>
    <!-- Wedding Flowers Pics -->

    <li><img src="images/IMG_3471.jpg"/></li>
    <li><img src="images/IMG_3467.jpg"/></li>
    <li><img src="images/IMG_3481.jpg"/></li>
    <li><img src="images/IMG_3447.jpg"/></li>
    <li><img src="images/IMG_3476.jpg"/></li>
    <li><img src="images/IMG_3480.jpg"/></li>
    <li><img src="images/IMG_3483.jpg"/></li>
    <li><img src="images/IMG_3449.jpg"/></li>

    <!-- End Wedding Flowers Pics -->

    <li><img src="images/img_8899.jpg"/></li>
    <li><img src="images/img_8889.jpg"/></li>
    <li><img src="images/img_8883.jpg"/></li>

</ul>