<div class="header">
    <h1>Portfolio</h1>
</div>
<!-- <ul class="carousel">
    <li><img src="images/IMG_3127.jpg" /></li>
</ul>-->
<div class="carouselCaption">
    <div id="carousel">
        <div><h3><a href="/traveling"><img src="images/img_3127.jpg" width="550" /></a>TRAVELING</h3></div>
        <div><h3><a href="/friends"><img src="images/img_3429.jpg" width="550" /></a>FRIENDS</h3></div>
        <div><h3><a href="/other"><img src="images/img_3275.jpg" width="550" /></a>OTHER</h3></div>
    </div>
</div>
