<div class="friendsHeader">
    <h1>Portfolio</h1>
</div>
<!-- <ul class="carousel">
    <li><img src="images/IMG_3127.jpg" /></li>
</ul>-->

<div id="carousel">
    <div><h3><img src="images/IMG_3127.jpg" width="450" /></h3></div>
    <div><h3><img src="images/IMG_3127.jpg" width="450" /></h3></div>
    <div><h3><img src="images/IMG_3127.jpg" width="450" /></h3></div>
</div>