<section class="traveling">

    <div class="header">
        <h1>Traveling</h1>
    </div>

    <ul class="pics">
        <!-- Iphone Pics (Europe 2017) -->
        <li><a href="/photos/traveling/1"><img src="images/img_31242.jpg"/></a></li>
        <li><a href="/photos/traveling/2"><img src="images/img_3184.jpg"/></a></li>
        <li><a href="/photos/traveling/3"><img src="images/img_31222.jpg"/></a></li>
        <li><a href="/photos/traveling/4"><img src="images/img_31922.jpg"/></a></li>
        <li><a href="/photos/traveling/5"><img src="images/img_31772.jpg"/></a></li>
        <li><a href="/photos/traveling/6"><img src="images/img_31942.jpg"/></a></li>
        <li><a href="/photos/traveling/7"><img src="images/img_4925.jpg"/></a></li>
        <li><a href="/photos/traveling/8"><img src="images/img_3489.jpg"/></a></li>
        <li><a href="/photos/traveling/9"><img src="images/img_5039.jpg" /></a></li>
        <li><a href="/photos/traveling/10"><img src="images/img_4928.jpg" /></a></li>
        <li><a href="/photos/traveling/11"><img src="images/img_3275.jpg" /></a></li>

        <li class="vertical">
            <a href="/photos/traveling/12"><img src="images/img_31212.jpg" /></a>
        </li>
        <!-- End Iphone Pics -->

        <!--Start Big Camera Pics (Europe 2017)-->
        <li><a href="/photos/traveling/13"><img src="images/img_3580.jpg" /></a></li>
        <li><a href="/photos/traveling14"><img src="images/img_9026.jpg"/></a></li>
        <li><a href="/photos/traveling/15"><img src="images/img_9097.jpg"/></a></li>
        <li><a href="/photos/traveling/16"><img src="images/img_9130.jpg"/></a></li>
        <li><a href="/photos/traveling/17"><img src="images/img_9084.jpg"/></a></li>
        <li><a href="/photos/traveling/18"><img src="images/img_9085.jpg"/></a></li>
        <li><a href="/photos/traveling/19"><img src="images/img_9142.jpg"/></a></li>
        <li><a href="/photos/traveling/20"><img src="images/img_9146.jpg"/></a></li>
        <li><a href="/photos/traveling/21"><img src="images/img_9087.jpg"/></a></li>
        <li><a href="/photos/traveling/22"><img src="images/img_9089.jpg"/></a></li>
        <li><a href="/photos/traveling/23"><img src="images/img_9100.jpg"/></a></li>
        <li><a href="/photos/traveling/24"><img src="images/img_9147.jpg"/></a></li>
        <li><a href="/photos/traveling/25"><img src="images/img_9088.jpg"/></a></li>
        <li><a href="/photos/traveling/26"><img src="images/img_9099.jpg"/></a></li>
        <li><a href="/photos/traveling/27"><img src="images/img_9095.jpg"/></a></li>
        <li><a href="/photos/traveling/28"><img src="images/img_9107.jpg"/></a></li>
        <li><a href="/photos/traveling/29"><img src="images/img_9033.jpg"/></a></li>
        <li><a href="/photos/traveling/30"><img src="images/img_9035.jpg"/></a></li>
        <li><a href="/photos/traveling/31"><img src="images/img_9092.jpg"/></a></li>
        <li><a href="/photos/traveling/32"><img src="images/img_9090.jpg"/></a></li>
        <li><a href="/photos/traveling/33"><img src="images/img_8992.jpg"/></a></li>
        <li><a href="/photos/traveling/34"><img src="images/img_8999.jpg"/></a></li>
        <li><a href="/photos/traveling/35"><img src="images/img_3579.jpg"/></a></li>
        <li><a href="/photos/traveling/36"><img src="images/img_9449.jpg"/></a></li>
        <li><a href="/photos/traveling/37"><img src="images/img_8991.jpg"/></a></li>
        <li><a href="/photos/traveling/38"><img src="images/img_8977.jpg"/></a></li>
        <li><a href="/photos/traveling/39"><img src="images/img_9002.jpg"/></a></li>
        <li><a href="/photos/traveling/40"><img src="images/img_8988.jpg"/></a></li>
        <li><a href="/photos/traveling/41"><img src="images/img_9065.jpg"/></a></li>
        <li><a href="/photos/traveling/42"><img src="images/img_9501.jpg"/></a></li>
        <li><a href="/photos/traveling/43"><img src="images/img_9272.jpg"/></a></li>
        <li><a href="/photos/traveling/44"><img src="images/img_9230.jpg"/></a></li>

        <!-- End Europe 2017 Pics -->

        <!-- Start LA 2016 Pics -->
        <li><a href="/photos/traveling/45"><img src="images/img_8699.jpg"/></a></li>
        <li><a href="/photos/traveling/46"><img src="images/img_8695.jpg"/></a></li>
        <li><a href="/photos/traveling/47"><img src="images/img_8682.jpg"/></a></li>
        <li><a href="/photos/traveling/48"><img src="images/img_8681.jpg"/></a></li>
        <!--End Big Camera Pics -->

    </ul>

</section>
