<section class="traveling">

    <div class="header">
        <h1>Traveling</h1>
    </div>

    <ul class="pics">
        <!-- Iphone Pics (Europe 2017) -->
        <li><a href="/photos/1"><img src="images/img_31242.jpg"/></a></li>
        <li><a href="/photos/2"><img src="images/img_3184.jpg"/></a></li>
        <li><a href="/photos/3"><img src="images/img_31222.jpg"/></a></li>
        <li><a href="/photos/4"><img src="images/img_31922.jpg"/></a></li>
        <li><a href="/photos/5"><img src="images/img_31772.jpg"/></a></li>
        <li><a href="/photos/6"><img src="images/img_31942.jpg"/></a></li>
        <!--  <li class="vertical"><img src="images/IMG_31212.JPG"/></li> -->
        <li><a href="/photos/7"><img src="images/img_4925.jpg"/></a></li>
        <li><a href="/photos/8"><img src="images/img_3489.jpg"/></a></li>
        <li><a href="/photos/9"><img src="images/img_5039.jpg" /></a></li>
        <li><a href="/photos/10"><img src="images/img_4928.jpg" /></a></li>
        <li><a href="/photos/11"><img src="images/img_3275.jpg" /></a></li>

        <li class="vertical">
            <a href="/photos/12"><img src="images/img_31212.jpg" /></a>
           <!--  <img src="images/img_5011.jpg" /> -->
        </li>
        <!-- End Iphone Pics -->

        <!--Start Big Camera Pics (Europe 2017)-->
        <li><a href="/photos/13"><img src="images/img_3580.jpg" /></a></li>
        <li><a href="/photos/14"><img src="images/img_9026.jpg"/></a></li>
        <!--<li><img src="imags/img_9089.jpg"/></li> -->
        <li><a href="/photos/15"><img src="images/img_9097.jpg"/></a></li>
        <li><a href="/photos/16"><img src="images/img_9130.jpg"/></a></li>
        <li><a href="/photos/17"><img src="images/img_9084.jpg"/></a></li>
        <li><a href="/photos/18"><img src="images/img_9085.jpg"/></a></li>
        <li><a href="/photos/19"><img src="images/img_9142.jpg"/></a></li>
        <li><a href="/photos/20"><img src="images/img_9146.jpg"/></a></li>
        <li><a href="/photos/21"><img src="images/img_9033.jpg"/></a></li>
        <li><a href="/photos/22"><img src="images/img_9035.jpg"/></a></li>
        <li><a href="/photos/23"><img src="images/img_9092.jpg"/></a></li>
        <li><a href="/photos/24"><img src="images/img_9090.jpg"/></a></li>
        <li><a href="/photos/25"><img src="images/img_8992.jpg"/></a></li>
        <li><a href="/photos/26"><img src="images/img_8999.jpg"/></a></li>
        <li><a href="/photos/27"><img src="images/img_3579.jpg"/></a></li>
        <li><a href="/photos/28"><img src="images/img_9449.jpg"/></a></li>
        <li><a href="/photos/29"><img src="images/img_8991.jpg"/></a></li>
        <li><a href="/photos/30"><img src="images/img_8977.jpg"/></a></li>
        <li><a href="/photos/31"><img src="images/img_9002.jpg"/></a></li>
        <li><a href="/photos/32"><img src="images/img_8988.jpg"/></a></li>
        <li><a href="/photos/33"><img src="images/img_9065.jpg"/></a></li>
        <li><a href="/photos/34"><img src="images/img_9501.jpg"/></a></li>
        <li><a href="/photos/35"><img src="images/img_9272.jpg"/></a></li>
        <li><a href="/photos/36"><img src="images/img_9230.jpg"/></a></li>

        <!-- End Europe 2017 Pics -->

        <!-- Start LA 2016 Pics -->
        <li><a href="/photos/37"><img src="images/img_8699.jpg"/></a></li>
        <li><a href="/photos/38"><img src="images/img_8695.jpg"/></a></li>
        <li><a href="/photos/39"><img src="images/img_8682.jpg"/></a></li>
        <li><a href="/photos/40 "><img src="images/img_8681.jpg"/></a></li>
        <!--End Big Camera Pics -->

    </ul>

</section>
