<div class="header">
    <h1>Traveling</h1>
</div>

<ul class="pics">
    <!-- Ireland Pics -->
    <li><img src="images/IMG_31242.JPG"/></li>
    <li><img src="images/IMG_3184.JPG"/></li>
    <li><img src="images/IMG_31222.JPG"/></li>
    <li><img src="images/IMG_31922.JPG"/></li>
    <li><img src="images/IMG_31772.JPG"/></li>
    <li><img src="images/IMG_31942.JPG"/></li>
    <!--  <li class="vert"><img src="images/IMG_31212.JPG"/></li> -->
    <li><img src="images/IMG_4925.JPG"/></li>
    <li><img src="images/IMG_3489.JPG"/></li>
    <li><img src="images/IMG_4928.JPG"/></li>
    <!-- End Ireland Pics -->
</ul>


