<div class="header">
    <h1>Traveling</h1>
</div>

<ul class="pics">
    <!-- Ireland Pics -->
    <li><img src="images/IMG_31242.jpg" width="230" /></li>
    <li><img src="images/IMG_3184.jpg" width="230" /></li>
    <li><img src="images/IMG_31222.jpg" width="230" /></li>
    <li><img src="images/IMG_31922.jpg" width="230" /></li>
    <li><img src="images/IMG_31772.jpg" width="230" /></li>
    <li><img src="images/IMG_31942.jpg" width="230" /></li>
    <li class="vert"><img src="images/IMG_31212.jpg" /></li>
    <li><img src="images/IMG_4925.jpg" width="230" /></li>
    <li><img src="images/IMG_3489.jpg" width="230" /></li>
    <li><img src="images/IMG_4928.jpg" width="230"  /></li>
    <!-- End Ireland Pics -->
</ul>


