<section class="traveling">

    <div class="header">
        <h1>Traveling</h1>
    </div>

    <ul class="pics">
        <!-- Iphone Pics (Europe 2017) -->
        <li><img src="images/IMG_31242.JPG"/></li>
        <li><img src="images/IMG_3184.JPG"/></li>
        <li><img src="images/IMG_31222.JPG"/></li>
        <li><img src="images/IMG_31922.JPG"/></li>
        <li><img src="images/IMG_31772.JPG"/></li>
        <li><img src="images/IMG_31942.JPG"/></li>
        <!--  <li class="vertical"><img src="images/IMG_31212.JPG"/></li> -->
        <li><img src="images/IMG_4925.JPG"/></li>
        <li><img src="images/IMG_3489.JPG"/></li>
        <li><img src="images/IMG_5039.JPG" /></li>
        <li><img src="images/img_4928.jpg" /></li>



        <li><img src="images/img_3275.jpg" /></li>

        <li class="vertical">
            <img src="images/img_31212.jpg" />
           <!--  <img src="images/img_5011.jpg" /> -->
        </li>
        <!-- End Iphone Pics -->

        <!--Start Big Camera Pics (Europe 2017)-->
        <li><img src="images/img_3580.jpg" /></li>
        <li><img src="images/img_9026.jpg"/></li>
        <li><img src="imags/img_9089.jpg"/></li>
        <li><img src="images/img_9097.jpg"/></li>
        <li><img src="images/img_9130.jpg"/></li>
        <li><img src="images/img_9084.jpg"/></li>
        <li><img src="images/img_9085.jpg"/></li>
        <li><img src="images/img_9142.jpg"/></li>
        <li><img src="images/img_9146.jpg"/></li>
        <li><img src="images/img_9033.jpg"/></li>
        <li><img src="images/img_9035.jpg"/></li>
        <li><img src="images/img_9092.jpg"/></li>
        <li><img src="images/img_9090.jpg"/></li>
        <li><img src="images/img_8992.jpg"/></li>
        <li><img src="images/img_8999.jpg"/></li>
        <li><img src="images/img_3579.jpg"/></li>
        <li><img src="images/img_9449.jpg"/></li>
        <li><img src="images/img_8991.jpg"/></li>
        <li><img src="images/img_8977.jpg"/></li>
        <li><img src="images/img_9002.jpg"/></li>
        <li><img src="images/img_8988.jpg"/></li>
        <li><img src="images/img_9065.jpg"/></li>
        <li><img src="images/img_9501.jpg"/></li>
        <li><img src="images/img_9272.jpg"/></li>
        <li><img src="images/img_9230.jpg"/></li>
        <!--End Big Camera Pics -->

    </ul>

</section>
