body {
  padding: 0px;
  font-family: Montserrat, Verdana, sans-serif;
}

a {
  color: #00B7FF;
}
.hero{
  background-image: url("../images/IMG_3002.JPG");
  background-repeat: no-repeat;
  height: 300px;
  color: #ffedab;
  background-size: 955px;
}
#page{
  width: 960px;
  margin: auto;
}

ul.banner{
  width: 100%;
}
ul.banner li{
  float: left;
  padding: 5px 5px 0 0;
}
ul.banner li img{
  width: 475px;
}

ul.carousel{
  width: 100%;
}
ul.carousel li{
  float: left;
  padding: 5px;
}
ul.carousel li img{
  width: 470px;
}


/* Start nav */

.navigation{
  overflow: hidden;
}
.navigation a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 14px;
  font-family: Montserrat, Verdana, sans-serif;
}

/* End Nav */
/*img{
  float: right;
  padding: 10px;
}
*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Headers for all pages except home*/

.header{
  color: #72a2d6;
  text-align: center;
  font-weight: normal;
}

/* End Headers */


/* Traveling Page */


ul.pics{
  width: 100%;
}
ul.pics li {
  float: left;
  padding: 0 0 0 0;
  margin: 0;

  /*
  background-color: yellow;
  border: 1px solid red;

  */
}
ul.pics li img {
  width: 230px;
  padding: 0;
  margin: 0;
  border: 0;
}

/*ul.horizontal {
  width: 100%
}*

/*ul.horizontal li{
  float: left;
  padding: 2.5px;
}

ul.horizontal li img {
  width: 129.5px;
}*/

ul.pics li.vert img {
    border: 0px solid red;
    width: 129px;

}

/* End Traveling Page */



/* Start slick carousel */
.slick-slider img{
  margin: auto;
}


.slick-prev:before, .slick-next:before {
    color: #72a2d6 !important;
}
.carouselCaption {
  text-align: center;
  color: #72a2d6;
  font-weight: normal;
}

h3{
  font-weight: normal;
}
/* End Slick carousel */

h1{
  font-weight: 500;
}



