body {
  padding: 0px;
  font-family: "Lucida Console", Monaco, monospace;
}

a {
  color: #00B7FF;
}
.hero{
  color: cornflowerblue;
  background-image: url("../images/IMG_3002.JPG");
  background-repeat: no-repeat;
  height: 300px;
  color: yellow;
  background-size: 955px;
}
#page{
  width: 960px;
  margin: auto;
}
ul.banner{
  width: 100%;

}
ul.banner li{
  float: left;
  padding: 5px;
}
ul.banner li img{
  width: 470px;
}
.navigation{
  overflow: hidden;
}
.navigation a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}
/*img{
  float: right;
  padding: 10px;
}
*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.travelingHeader{
  color: lemonchiffon;
}
.aboutHeader{
  text-align: center;
  color: lemonchiffon;
}